{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<style media="screen">
#experience ,#employment ,#edu, #finance, #buisness, #bsteam, #istream{
  display: none;
}

</style>
<!-- ------------------MODALS START----------------------- -->
<!-- Modal Workers-->

<div class="modal fade" id="main_modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Compute your score!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="score-form1">


        <div class="form-group">

          <b><label for="">Business experience </label></b><br>
          <select class="modal-dropdown" name="experience">
            <option value="20">
            3+ years of Relevant Self Employment
            </option>
            <option value="30">
            5+ years of Relevant Self Employment
            </option>
            <option value="40">
            10+ years of Relevant Self Employment
            </option>
            <option value="5">
            3+ years of Other Self Employment
            </option>
            <option value="15">
              5+ years of Other Self Employment
            </option>
            <option value="20">
              10+ years of Other Self Employment
            </option>
            <option value="5">
              5+ years of Relevant Senior Management Experience
            </option>
            <option value="10">
              10+ years of Relevant Senior Management Experience
            </option>
          </select><br>

          <!-- <span class="popuptext show" id="myPopup">
            We only need your email to send you payment receipt.<br><br>
            We won't be storing your email in our database.
          </span> -->
          <b><label for="">New full time employment creation</label></b>
          <select class="modal-dropdown" name="employment">
            <option value="80">
              10+ new full time positions for New Zealand citizens/residents
            </option>
            <option value="50">
              5 new full time positions for New Zealand citizens/residents
            </option>
            <option value="30">
              3 new full time positions for New Zealand citizens/residents
            </option>
            <option value="20">
             2 new full time positions for New Zealand citizens/residents
            </option>
            <option value="10">
            1 new full time positions for New Zealand citizens/residents
            </option>

          </select>


        <b><label for="">Points for approved export business (based on annual turnover)</label></b><br>
        <select class="modal-dropdown" name="edu">
          <option value="80">
          NZ$ 1,000,000 plus turnover
          </option>
          <option value="60">
          NZ$   750,000 plus turnover
          </option>
          <option value="40">
            NZ$   500,000 plus turnover
             </option>
          <option value="30">
           NZ$   400,000 plus turnover
            </option>
          <option value="20">
          NZ$   300,000 plus turnover
          </option>
          <option value="10">
          NZ$   200,000 plus turnover
          </option>
        </select><br><br>

        <b><label for="">Unique or new products or services to New Zealand</label></b><br>
        <select class="modal-dropdown" name="finance">
          <option value="30">A credible business proposal that provides unique or new products or services to New Zealand or to a particular region.</option>
        </select><br><br>

        <b><label for="">Capital Investment (excluding working capital) </label></b><br>
        <select class="modal-dropdown" name="buisness">
          <option value="80">NZ$ 1,000,000</option>
          <option value="60">NZ$  750,000</option>
          <option value="50">NZ$ 500,000</option>
          <option value="30">NZ$  400,000</option>
          <option value="20">NZ$  300,000</option>
          <option value="10">NZ$  200,000</option>
          <option value="0">less than NZ$  200,000</option>
        </select><br><br>

        <b><label for="">Points for Age </label></b><br>
        <select class="modal-dropdown" name="bstream">
          <option value="15">24 and under</option>
          <option value="20">25-29</option>
          <option value="20">30-39</option>
          <option value="20">40-49</option>
          <option value="10">50-59</option>
          <option value="0">60 and over</option>
        </select><br><br>

        <b><label for="">Bonus Points </label></b><br>
        <select class="modal-dropdown" name="istream">
          <option value="40">Business outside Auckland</option>
          <!-- <option value="15">Not less than 7 years</option> -->
        </select><br><br>

      <button type="button" onclick="calculateScore1()" class="modal-btn">Calculate Now</button>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<main id="main">

  <style>
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  </style>

<section id="services" class="services">
  <div class="container">


    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">Entrepreneur Work Visa</span><br><br>
            <img style="width: 35%" src="/static/assets/img/entrepreneurvisa.png" alt="">


          </div>

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Visa for Entrepreneur in New Zealand </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">What is Entrepreneur Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Entrepreneur Work Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Long Term Skill Shortage List Work Visa </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>What is Entrepreneur Visa</h3>
                    <p>The Entrepreneur Work Visa is for those who wish to buy or set up their own business in the country. You are allowed to stay and work in New  Zealand for a total of three years: one year during the startup phase and  then two more years after proving you have set up your business. </p>

                    <ul> To apply for this visa, you will need to meet all the general visa  requirements mentioned previously, as well as the following conditions:
                      <li class="font-italic"> <i class="icofont-check-circled"></i>  Invest at least <b>100,000 NZD (65,000 USD)</b> on a business.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>  Meet the minimum of <b>120 points</b> on the Entrepreneur Points Scale. </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>   Provide a detailed business plan.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>   Take part in an evaluation of the entrepreneur Work Visa Category. </li>

                    </ul>
                    <p>Beware that this visa type can be expensive. Most visas for New  Zealand tend to cost from <b>200 to 600 NZD </b>(130 to 390 USD) overall, but  the Entrepreneur Work Visa for most applicants costs 3,365 NZD (2190 USD) in total in fees on top of the 100k NZD (65k USD) you need to  invest in the country</p>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Entrepreneur Work Visa</h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You are an <b>entrepreneur or innovator</b> and want to buy or set up a  business in New Zealand.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You have invested at least <b>100,000 NZD (65,000 USD)</b> in your  business, can claim 120 points on INZ’s point scale for entrepreneurs,  you meet the business plan requirements, and can read, write, and  speak English. </li>
                        </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane " id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Long Term Skill Shortage List Work Visa </h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> This visa is for those who have skills and talents needed in New  Zealand.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You must be <b>55 or younger</b> and your occupation is on  the skill shortage list.</li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> This visa does not come with the option of a family visa.</li>
                          <!-- <li class="font-italic"> <i class="icofont-check-circled"></i>You may apply for this visa if your employer’s business moves to  New Zealand. </li> -->
                    </ul>
                    <p>The application process for each temporary visa type may vary, but, in  general, you will need to put in an expression of interest which includes a score point based on your age, work experience, qualification, and the job  offer (if applicable). If you are selected, you can then make a full  application. Applications are chosen only once a month. </p>
                  </div>

                </div>
              </div>


      </div>
  </section>
</div>

<!-- Pie chart -->
  <h2 style="text-align:center"><b>Points indicator for Entrepreneur Work Visa</b></h2>
      <div class="row">

          <div class="container1">

            <div style="padding-top: 90px;">
              <canvas id="myChart"></canvas>
            </div>
          </div>

          <div class="col">
            <div class="container" style="margin-top: 50px; padding-right: 100px;" >
              <div id="experience">
                <h1>Buisness Experience</h1>
                <table style>
                  <tr>
                    <th>Buisness Experience</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>3+ years of Relevant Self Employment</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>5+ years of Relevant Self Employment</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>10+ years of Relevant Self Employment</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>3+ years of Other Self Employment</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>5+ years of Other Self Employment</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>10+ years of Other Self Employment</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>5+ years of Relevant Senior Management Experience</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>  10+ years of Relevant Senior Management Experience</td>
                    <td>10</td>
                  </tr>

                </table>
              </div>

              <div id="employment">

                <h1>New full time employment creation</h1>
                <table style>
                  <tr>
                    <th>New full time employment creation</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>10+ new full time positions for New Zealand citizens/residents	</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>5 new full time positions for New Zealand citizens/residents</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>3 new full time positions for New Zealand citizens/residents</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>2 new full time positions for New Zealand citizens/residents</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>1 new full time positions for New Zealand citizens/residents</td>
                    <td>10</td>
                  </tr>
                </table>

              </div>

              <div id="edu">
                <h1>Points for approved export business (based on annual turnover)</h1>
                <table style>
                  <tr>
                    <th>Export buisness</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>NZ$ 1,000,000 plus turnover</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>NZ$   750,000 plus turnover</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <td>NZ$   500,000 plus turnover</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td> NZ$   400,000 plus turnover</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>NZ$   300,000 plus turnover</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>NZ$ 200,000 plus turnover</td>
                    <td>10</td>
                  </tr>
                </table>
              </div>

              <div id="finance">
                <h1>Excluding Working Capital</h1>

                <!-- <p>Net business and personal assets of you, your partner or you and your partner combined in each of the preceding 2 fiscal years of at least:</p> -->
                <table style>
                  <tr>
                    <th>Excluding Working Capital</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>NZ$ 1,000,000</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>NZ$  750,000	</td>
                    <td>60</td>
                  </tr>
                  <tr>
                    <td>NZ$ 500,000</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>NZ$  400,000</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>NZ$  300,000</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>NZ$  200,000</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>less than NZ$  200,000</td>
                    <td>0</td>
                  </tr>
                </table>
              </div>

              <div id="buisness">

                <h1>Age</h1>
                <!-- <p>You had an ownership interest in one or more main businesses that had an annual turnover in at least 2 of the 4 fiscal years immediately before the time of invitation to apply for the visa:</p> -->

                <table style>
                  <tr>
                    <th>Age</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>24 and under</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>25-29</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>30-39</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>40-49</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>50-59</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>60 and over</td>
                    <td>0</td>
                  </tr>
                </table>
              </div>

              <div id="bstream">


                <table style>
                  <tr>
                    <th>Bonus</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>Business outside Auckland</td>
                    <td>40</td>
                  </tr>
                </table>
              </div>

              <!-- <div id="istream">

                <h1>Investor stream only</h1>

                <p>Immediately before the time of application you held eligible investments of at least AUD100,000 held for:</p>
                <table style>
                  <tr>
                    <th>Description</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>Not less than 4 years</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Not less than 7 years</td>
                    <td>15</td>
                  </tr>

                </table>
              </div> -->
            </div>
          </div>

            </div>
            <div class="text-center">
    <br>
     <button onclick="showModal1()" class="express-btn3 modal-btn" type="button">Calculate your score!</button>
  </div>

  <div class="container">
    <div class="text-center performance3">
    <br><h1>Your Performance:</h1>
    </div>
    <div class="row">

        <div class="container1">
          <div class="resultChart">
            <canvas id="myChart1"></canvas>
          </div>
        </div>

        <div class="col">
          <div class="text-center" style="padding-top: 70px;">
            <br><h3 class="insert-here1-1"></h3>
            <h4 class="insert-here1-2"></h4>
          </div>
        </div>

  </div>
</div>
 </section>

</main>

  <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
        })
      </script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}
