{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


<section id="services" class="services">
  <div class="container">


    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">Entrepreneur Work Visa</span><br><br>
            <img style="width: 35%" src="/static/assets/img/20210109_180731_0000.png" alt="">


          </div>

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Visa for Entrepreneur in New Zealand </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">What is Entrepreneur Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Entrepreneur Work Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Long Term Skill Shortage List Work Visa </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>What is Entrepreneur Visa</h3>
                    <p>The Entrepreneur Work Visa is for those who wish to buy or set up their  own business in the country. You are allowed to stay and work in New  Zealand for a total of three years: one year during the startup phase and  then two more years after proving you have set up your business. </p>

                    <ul> To apply for this visa, you will need to meet all the general visa  requirements mentioned previously, as well as the following conditions:
                      <li class="font-italic"> <i class="icofont-check-circled"></i>  Invest at least 100,000 NZD (65,000 USD) on a business.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>  Meet the minimum of 120 points on the Entrepreneur Points Scale. </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>   Provide a detailed business plan.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>   Take part in an evaluation of the entrepreneur Work Visa Category. </li>

                    </ul>
                    <p>Beware that this visa type can be expensive. Most visas for New  Zealand tend to cost from 200 to 600 NZD (130 to 390 USD) overall, but  the Entrepreneur Work Visa for most applicants costs 3,365 NZD (2190 USD) in total in fees on top of the 100k NZD (65k USD) you need to  invest in the country</p>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Entrepreneur Work Visa</h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You are an entrepreneur or innovator and want to buy or set up a  business in New Zealand.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You have invested at least 100,000 NZD (65,000 USD) in your  business, can claim 120 points on INZ’s point scale for entrepreneurs,  you meet the business plan requirements, and can read, write, and  speak English. </li>
                        </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Long Term Skill Shortage List Work Visa </h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> This visa is for those who have skills and talents needed in New  Zealand.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You must be 55 or younger and your occupation is on  the skill shortage list.</li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> This visa does not come with the option of a family visa.</li>
                          <!-- <li class="font-italic"> <i class="icofont-check-circled"></i>You may apply for this visa if your employer’s business moves to  New Zealand. </li> -->
                    </ul>
                    <p>The application process for each temporary visa type may vary, but, in  general, you will need to put in an expression of interest which includes a  score point based on your age, work experience, qualification, and the job  offer (if applicable). If you are selected, you can then make a full  application. Applications are chosen only once a month. </p>
                  </div>

                </div>
              </div>


      </div>
  </section>
</div>

</section>




</main>
{% endblock %}
