{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">
    <section>
    <div class="container" style="text-align: justify;">
        <div style="padding-bottom: 20px;">
        <h2 style="margin-top: 50px;"><b>Giving it Back</b> </h2>
        </div>

        <div style="padding-bottom: 10px;">

            </div>
    <p class="text"><b>At Visa to NewZealand</b> philanthropy is rooted in our corporate DNA. As an important part of our corporate identity it sits near the top of our company values. With a focus on future generations we partner with local communities on programs such as ‘No Child Left Behind’, as well as general education, and equal opportunity initiatives. We aim to inspire these generations from every corner of society to feel empowered in their individual pursuits and lead them to pursue their dreams and be impactful in their communities and around the world. We partner with Phaedra for Life Foundation to give special meaning to volunteering by helping children in overseas Orphanage Centers, from America, Asia and Europe. In Phaedra you will not only change the life for an orphan child, but you will change the life of the whole community, through different volunteer projects. “Anyone who does anything to help a child is a hero”.</p>



</div>


</section>
</main>
{% endblock %}