{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


<section id="services" class="services">
  <div class="container">


    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">Working Holiday Visas</span><br><br>
            <img style="width: 35%" src="/static/assets/img/holiday.jpeg" alt="">


          </div>

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Getting Started </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">What is Working Holiday Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Eligibility and criteria</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>What is Working Holiday Visa</h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> New Zealand has working holiday scheme agreements with many  countries, allowing you to work in and explore our great country.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Every year hundreds of young people apply for New Zealand  working holiday visas, and spend a year or two working in New  Zealand.</li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Eligibility and criteria</h3>
                  <p>Working holiday visas are available to young people, usually aged 18 to  30, but 18 to 35 in a select few countries. They let you travel and work in  New Zealand for up to 12 months, or 23 months if you are from the UK  or Canada. If you apply for a 23-month visa, you must provide a General  Medical Certificate.</p>
                    <ul>You need to :
                      <li class="font-italic"> <i class="icofont-check-circled"></i>have enough money to pay for a return ticket, and</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>be coming mainly to holiday, with work being a secondary intention.  </li>
                    </ul>

                  </div>
                </div>
              </div>

      </div>
  </section>
</div>

</section>




</main>
{% endblock %}
