{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!--Carousel Wrapper-->
 <div id="carousel-example-1z" class="carousel slide carousel-fade " data-ride="carousel">
   <!--Indicators-->
   <ol class="carousel-indicators">
     <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
     <li data-target="#carousel-example-1z" data-slide-to="1"></li>
     <li data-target="#carousel-example-1z" data-slide-to="2"></li>
     <li data-target="#carousel-example-1z" data-slide-to="3"></li>
   </ol>


   <!--/.Indicators-->
   <!--Slides-->
   <div class="carousel-inner" role="listbox">
     <!--First slide-->
     <div class="carousel-item active">
       <img class="d-block w-100" style="height: 620px;object-fit: cover;"
       src="/static/assets/img/new-zealand-1738275_1920.jpg" alt="First slide">

       <div class="container">

         <div class="carousel-caption">

           <h2 class="carousel-title animated" style="color: white";>Welcome to  New Zealand</h2>
           <!-- <h1>Welcome to Canada</h1> -->            <br>

           <!-- <a href="https://www.australia.gov.au/" class="btn-get-started scrollto">Entry for Eligibility</a> -->
           <h4 class="carousel-subtitle animated"style="background-color:23347C";></h4>

         </div>
       </div>
     </div>
     <!--/First slide-->

     <!--Second slide-->
     <div class="carousel-item">
       <img class="d-block w-100" style="height: 620px;object-fit: cover;"
       src="/static/assets/img/aukland-1738274_1920.jpg" alt="Second slide">

       <div class="container">

         <div class="carousel-caption">

           <h2 class="carousel-title animated" style="color: #fff">Welcome to New Zealand</h2>
           <!-- <h1>Welcome to Canada</h1> -->            <br>

           <!-- <a href="https://www.australia.gov.au/" class="btn-get-started scrollto">Entry for Eligibility</a> -->

           <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

       <!-- <h1>Welcome to Canada</h1>
       <h2>We are a team of Immigration lawyers</h2> -->
         </div>
       </div>

     </div>
     <!--/Second slide-->
     <!--Third slide-->
     <div class="carousel-item">
       <img class="d-block w-100" style="height: 620px;object-fit: cover;"
       src="/static/assets/img/rocks-1239727_1280.jpg" alt="Second slide">

       <div class="container">

         <div class="carousel-caption">

           <h2 class="carousel-title animated" style="color: #fff">Welcome to New Zealand</h2>
           <!-- <h1>Welcome to Canada</h1> -->            <br>

           <!-- <a href="https://www.australia.gov.au/" class="btn-get-started scrollto">Entry for Eligibility</a> -->

           <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

       <!-- <h1>Welcome to Canada</h1>
       <h2>We are a team of Immigration lawyers</h2> -->
         </div>
       </div>

     </div>
     <!--/Third slide-->

     <!--last slide-->
     <div class="carousel-item">
       <img class="d-block w-100" style="height: 620px;object-fit: cover;"
       src="/static/assets/img/new-zealand-2380704_1920 (1).jpg" alt="Third slide">
       <div class="container">

         <div class="carousel-caption">

           <h2 class="carousel-title animated" style="color: #fff";>Welcome to New Zealand</h2>
           <!-- <h1>Welcome to Canada</h1> -->            <br>
           <!-- <a href="https://www.australia.gov.au/" class="btn-get-started scrollto">Entry for Eligibility</a> -->

           <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

       <!-- <h1>Welcome to Canada</h1>
       <h2>We are a team of Immigration lawyers</h2> -->
         </div>
       </div>

     </div>
     <!--/last slide-->

   </div>
   <!--/.Slides-->
   <!--Controls-->
   <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
   <!--/.Controls-->
 </div>
 <!--/.Carousel Wrapper-->



 <!-- ======= Hero Section ======= -->
   <!-- <section id="hero" class="d-flex align-items-center" style="background-image:url('https://www.tripsavvy.com/thmb/0QgcJbDM3ZBMg470CWEWa2Tq1Jc=/1500x925/filters:fill(auto,1)/GettyImages-748610951-5bd70c0b46e0fb0051d0afcb.jpg')">
     <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
       <h1>Welcome to Canada</h1>
       <h2>We are a team of Immigration lawyers</h2>
       <a href="https://onlineservices-servicesenligne.cic.gc.ca/c2c/eapp.do" class="btn-get-started scrollto">Entry for Eligibility</a>
     </div>
   </section> -->

   <main id="main">
     <section id="why-us" class="why-us">
       <div class="container">

         <div class="row" style="justify-content: center";>

           <div class="col-lg-4 mt-3 mt-lg-0" data-aos="fade-up" style="opacity: 1;">
             <div class="box">
               <a href="#">
               <span>01</span>
               <i style="color: black; font-size: 5em;" class="fas fa-briefcase"></i>
               <h4>Student Visa</h4>
               <!-- <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/documents.html">Requirements</a> -->
               <a href="{% url 'studentvisa' %}">Learn More</a>

               <!-- <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p> -->
             </div>
           </div>





           <div class="col-lg-4 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300" style="opacity: 1">
             <div class="box">
               <a href="#">
               <span>02</span>
               <i style="color: black; font-size: 5em;" class="fas fa-user-check"></i>
               <h4>Work Visa</h4>
               <!-- <a href="">Requirements</a> -->
                 <a href="{% url 'workvisa' %}">Learn More</a>
               <!-- <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p> -->
             </div>
           </div>

           <div class="col-lg-4 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300" style="opacity: 1;">
             <div class="box">
               <a href="#">
               <span>03</span>
               <!-- <i class="fa fa-money" aria-hidden="true"></i> -->
               <!-- <i style="color: black;" class="fad fa-sack-dollar"></i> -->
               <i style="color: black; font-size: 5em;"  class="fas fa-coins"></i>
               <h4>Self-Employment Visa</h4>
               <!-- <a href="">Requirements</a> -->
               <!-- <p></p> -->
                 <a href="{% url 'self-empvisa' %}">Learn More</a>
               <!-- <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p> -->
             </div>
           </div>

           <!-- <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300"> -->
         </div>

       </div>
     </section>
     <div>
      <!-- <img src="/static/assets/img/home.jpeg" class="img-fluid responsive"  alt=""> -->
      <img src="/static/assets/img/home2.jpeg" class="img-fluid responsive"  alt="">
        <img src="/static/assets/img/home.jpeg" class="img-fluid responsive"  alt="">

    </div>

   </main><!-- End #main -->

{% endblock %}
