{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


<section id="services" class="services">
  <div class="container">


    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">Self Employment Visas</span><br><br>
            <img style="width: 35%" src="/static/assets/img/self.jpeg" alt="">


          </div>

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Visa for Self Employment in New Zealand </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Types of Visas that Allow for Self-Employment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Entrepreneur Work Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Temporary Visas that Lead to Permanent Residence and How  to Apply</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Types of Investor Visa</h3>
                    <ul> There are two types of visas that allow you to invest in the country,  which will also grant you residence:
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Investor 1 resident visa: If you invest 10 million NZD (6,5 million  USD) in the country over the course of three years, you and your  family can live in New Zealand indefinitely.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Investor 2 resident visa: If you are under 65 years of age and  you invest 3 million NZD (2 million USD) over the course of four  years, you and your family can live in New Zealand indefinitely.  However, there is a quota of 400 people for this type of visa.</li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Residency Permits: Temporary and Permanent</h3>
                  <p>In general, all visas in New Zealand are temporary and automatically  grant you residence for its duration. If you want to become a permanent  resident in New Zealand, you will first have to apply for a temporary  residence permit and only later, apply for permanent residence in New  Zealand. Beware, that only some visas allow you to bring  your spouse and immediate family with you. New Zealand does not have  a fiance visa in its migration law.</p>
                  <br>
                  <p>However, not all temporary visas can lead to residence—there are  specific visa types that can be extended and eventually lead to  residence. These types of visas are explained below, as well as all the  necessary temporary residence permit requirements, steps, benefits,  and fees.</p>
                  <br>
                  <p>Typically, to become a permanent resident you must be 55 or  younger and have worked in New Zealand for two years on a  temporary visa.</p>

                  </div>
                </div>
              </div>
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Temporary Visas that Lead to Permanent Residence and How  to Apply</h3>
                    <ul> Skilled Migrant Category Resident Visa
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You can apply if you have the relevant skills and experience.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You must be 55 or younger, a skilled worker, and can claim 160  points on INZ’s point scale for Skilled Migrant Expression of  Interest.</li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> Employees of Relocating Business Resident Visa.</li>
                          <li class="font-italic"> <i class="icofont-check-circled"></i>You may apply for this visa if your employer’s business moves to  New Zealand. </li>
                    </ul>

                    <ul>Talent (Accredited Employer) Work Visa 
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You must have relevant skills and talents needed in New Zealand.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> You should be under 55 and have a job offer for a full-time position  for two years that pays 55.000 NZD (35.000 USD) a year.</li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> Your  employer has to be accredited by Immigration New Zealand (INZ).</li>
                          <!-- <li class="font-italic"> <i class="icofont-check-circled"></i>You may apply for this visa if your employer’s business moves to  New Zealand. </li> -->
                    </ul>
                  </div>

                </div>
              </div>


      </div>
  </section>
</div>

</section>




</main>
{% endblock %}
