{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <span style="color: #000">STUDENT VISA</span><br><br>
          <img style="width: 35%" src="/static/assets/img/student.jpeg" alt="">

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
          </div>
          <br>

          <div class="section-title-details">
            <h4>ACCELERATE YOUR CAREER WITH EDUCATION IN NEWZEALAND</h4>
            <li>
              <ul><i>  If you want to study a full-time course in New Zealand that’s longer than three  months in total duration, you’ll need a student visa.</i></ul>
              <ul><i>  Depending on your visa conditions, you may be able to work up to 20  hours a week during the term and full-time over the holidays.</i></ul>
            </li>
          </div>
<br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Student visa requirements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">student visa application</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Fee Paying Student Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Working after study </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Student visa requirements </h3>
                    <p>Most visitor, student and work visas can take up eight weeks to process,but could also take longer if more information is needed. As a guide,you’ll usually need to provide the following documents with your student visa application.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-10 details order-2 order-lg-1">
                  <h3>student visa application</h3>

                  <ul>
                    <li class="font-italic"> <i class="icofont-check-circled"></i>An offer of place from an approved education provider</li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> Evidence that you have enough money to pay your tuition fees</li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i>Your passport and acceptable passport-style photo(s)</li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i>Proof of funds – $15,000 per year, to cover your living expenses • A copy of your air ticket home, or proof that you have enough money to  buy one</li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> An accommodation guarantee, if you’re under 18 </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> Your visa application fee </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> You may also be asked to provide a medical certificate and chest x-ray,  and a police certificate.</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-11 details order-2 order-lg-1">
                <h3>Fee Paying Student Visa</h3>
                <p><b>If you’re from overseas, you can apply for a visa to study full-time in New  Zealand. You’ll need to pay the full cost of your courses and enrol with  an approved education provider. While you’re here, you can enjoy New  Zealand’s high-quality teaching standards and gain internationally  recognised qualifications.</b>
                <br>
                <ul> <b>You Can:</b>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Study full-time at the course stated on your visa – this includes schools,  tertiary (study after secondary school) and English language study. </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Work part-time up to 20 hours a week while studying or full-time in the  holidays, depending on your visa conditions. </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Live by yourself above a certain age, otherwise you’ll need to come with  your parent or legal guardian. </li>
                </ul>
                <ul> <b>Things to note:</b>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>If you want to bring your partner or children with you, they can apply for  visas based on their relationship to you. </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Your Student Visa is normally for the same length of time as the study  you’ve paid for.  </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>You can apply for this visa if you’re a distance learning or  correspondence student who is studying outside New Zealand and you  need to visit New Zealand for more than 3 months to attend your  education provider, eg to do practical study or sit exams.</li>
                </ul>
                </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>Working after study</h3>
              <p>If you'd like to work here after gaining your qualification to get some  experience, you need to know about our requirements to work after  study. It's good to have these in mind when deciding what course to  enrol in so you gain a qualification that's needed and valued by New  Zealand employers. </p>
                        </div>
        </div>


      </div>
    </div>
    </div>

  </div>
</section>
</section>


  <!-- <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
          <span style="color: black">STUDENT VISA</span>

      </div>


          <br><br><br>

<br>
      <div class="row">

        <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #23347c" class="fas fa-door-open fa-5x"></i><br><br>
            <h2>INTAKE</h2>
            <p>Universities in Australia have diverse deadlines for application:</p>
            <ul class="text-left">
              <li><h6><b>Intake 1:</b><p></p>Semester 1-</h6></li>
                <li>It commences in <b>February</b> and is the <b>major</b> intake.</li>
                <li><h6><b>Intake 2:</b><p></p>Semester 2-</h6></li>
                  <li>It commences in <b>July</b> and intake is <b>available.</b></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>TIME FRAME</h2>
            <p>Time frames for processing:</p>
            <ul>
              <li>•	<b>4 weeks</b> for processing</li>
              <li>•	Apply for visa <b>124 days</b> before</li>
              <li>•Fly to country <b>90 days</b> prior</li>

            </ul>
            <br><br><br>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #23347c" class="fas fa-clipboard-check fa-5x"></i><br><br>
            <h2>ELIGIBLE FOR</h2>

            <ul>
              <li>•	be enrolled in a course of study in Australia</li>
              <li>•	hold Overseas Student Health Cover (OSHC), or fall in one of the exemption categories</li>
              <li>•	must be 6 years or older </li>
              <li>•prove you have a welfare arrangement, if you are under 18</li>


            </ul>

          </div>
        </div>

      </div> -->
      <br><br>




<!-- </section> -->

</main>
{% endblock %}
