{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">
    <section>
    <div class="container" style="text-align: justify;">
        <div style="padding-bottom: 20px;">
        <h2 style="margin-top: 20px;"><b>Terms of Service</b> </h2>
        </div>
        <div style="padding-bottom: 20px;">
            <h5><b>Our standard terms and conditions are as follows:</b></h5>
        </div>
        <div style="padding-bottom: 10px;">
          <h6><b>Definitions</b></h6><h6>&nbsp;</h6> 
        </div>
   
    <p class="text"><b>In this Agreement, unless the context otherwise requires the following words and expressions have the following meanings:</b></p>
    <p class="text"><b>“Agreement” – This Consultancy Service Agreement including each and every Statement of Works;</b></p>
    <p class="text"><b>“Business Day” – A day other than a Saturday or Sunday when the main clearing banks in London are open for a full range of business banking transactions;</b></p>
    <p class="text"><b>“Data Protection Legislation” – the General Data Protection Regulation (and any amendment of replacement of it in force in United States from time to time;</b></p>
    <p class="text"><b>“Deliverables” – the outputs from the provision of the Services including those described in Schedule 1 or in any Statement of Works;</b></p>
    <p class="text"><b>“Intellectual Property Rights” – all patents, rights to inventions, utility models, copyright and related rights, trademarks, trade, business and domain names, rights in goodwill and to sue for passing off, rights in design, rights in computer software, database right, moral rights and other intellectual property rights, in each case whether registered or unregistered and including all applications for and all renewals or extensions of such rights and all similar or equivalent rights or forms of protection in any part of the world;</b></p>
    <p class="text"><b>“Services” – the services to be provided by the Company as specified in Schedule 1 or in any Statement of Works;</b></p>
    <p class="text"><b>“Statement of Works” – a statement agreed between the Company and the Client from time to time specifying works to be carried out by and deliverables to be provided by the Company.</b></p>
    <p><b>1. Interpretation</b></p>
    <p class="text">1.1 Any reference in this Agreement to any provision of a statute shall be construed as a reference to that provision as amended, re-enacted or extended at the relevant time.</p>
    <p class="text">1.2 The headings in this Agreement are for convenience only and shall not affect its interpretation.</p>
    <p class="text">1.3 Any reference to a clause or Schedule shall be construed as a reference to a clause of or schedule to this Agreement unless expressly stated to the contrary.</p>
    <p class="text">1.4 Any reference to a statute or statutory provision is to it as from time to time in force as amended or re-enacted.</p><p class="text">1.5 Use of the word “including” is without prejudice to the generality.</p>
    <p><b>2. Provision Of The Services</b></p>
    <p class="text">The Company shall provide and perform the Services on the terms and conditions of this Agreement and will do so:</p><p class="text">2.1 in compliance with all applicable laws, regulations, codes of practice and professional standards;</p>
    <p class="text">2.2 with reasonable skill and care;</p>
    <p class="text">2.3 in accordance with the terms of this Agreement, including the timescales specified in Schedule 1 or any Statement of Works;</p>
    <p class="text">2.4 in accordance with good professional practice.</p>
    <p><b>3. Personnel</b></p>
    <p class="text">3.1 The Company shall use its reasonable endeavors to ensure that the same personnel provide the Services in order to maintain consistency and build a relationship with the Client.</p>
    <p class="text">3.2 The Company shall use its reasonable endeavors to ensure that its personnel comply with the Client’s site regulations when the Company’s personnel are on the Client’s premises.</p>
    <p class="text">3.3 The Client shall not at any time during the term of this Agreement or for a period of 6 months following its expiry or termination employ or solicit for employment or engage on any basis any member of the Company’s personnel (whether employed or engaged on some other basis by the Company).</p>
    <p class="text">3.4 The Client acknowledges the cost to the Company of losing and replacing any such person and the Client agrees that if it breaches the provisions of clause 4.3, the Client shall pay to</p>
    <p class="text">the Company by way of liquidated damages a sum equal to the greater of (i) $50,000; and (ii) an amount equal to the person’s aggregate annual gross remuneration package.</p>
    <p><b>4. Obligations Of The Client</b></p>
    <p class="text">4.1 The Client shall provide the Company with such information and access to such facilities and personnel as the Company shall reasonably require in order to provide the Services.</p>
    <p class="text">4.2 The Client shall make such decisions and provide such instructions as the Company shall require and at the time that the Company requires to enable the Company to provide the Services.</p>
    <p class="text">4.3 The Client acknowledges that the Company’s ability to provide the Services and to meet any timeframe agreed for the provision of the Services is dependent on the Client providing that information and access and providing those decisions and instructions at the times required by the Company.</p>
    <p><b> Intellectual Property </b></p>
    <p class="text">5.1 Any pre-existing Intellectual Property Rights of either party that are made available for use in connection with the provision of the Services shall remain vested in that party; the other party shall have a licensee to use those rights so far as may be necessary to enable that party to provide or to enjoy the benefit of the Services.</p>
    <p class="text">5.2 All Intellectual Property Rights that are created in the course of the provision of the Services and in the Deliverables shall belong to the Company; the Client shall have a royalty free, perpetual licensee to use those rights as envisaged by this Agreement to enable the Client to have the benefit of the Services and the Deliverables for use within the Client’s own business.</p>
    <p class="text">5.3 The Company warrants to the Client that the Deliverables will not in any way infringe the Intellectual Property Rights of any other person and the Company will indemnify the Client and keep the Client fully indemnified in respect of any losses, liabilities, demands, actions and claims that the Client might incur or suffer as a result of any breach of this warranty.</p>
    <p class="text">5.4 If the indemnity in clause 6.3 is to be called upon the Client shall:</p>
    <p class="text">5.4.1 promptly notify the Company in writing of the claim;</p>
    <p class="text">5.4.2 make no admission or settlement without the Company’s prior written consent;</p>
    <p class="text">5.4.3 allow the Company to have control over the conduct of the claim including any litigation; and</p>
    <p class="text">5.4.4 give the Company such assistance and information that the Company reasonably requires.</p>
    <p class="text">5.5 The Company shall have no liability under the indemnity in clause 6.3 where the alleged infringement arises from the Client using the Deliverables in any manner or for any purpose other than those for which they were provided.</p>
    <p><b>6. Confidentiality</b></p>
    <p class="text">6.1 The Company and the Client may during the course of this Agreement and in connection with the Services obtain information relating to the other party which is not made available generally by that other party (“Confidential Information”).</p>
    <p class="text">6.2 The receiving party shall:</p>
    <p class="text">6.2.1 keep all Confidential Information confidential and not disclose it to any person (save as required by law); and</p>
    <p class="text">6.2.2 use the Confidential Information only for the purpose for which it was provided and for no other purpose.</p>
    <p><b>7. Data Protection</b></p>
    <p class="text">7.1 Both parties will comply with all applicable requirements of the Data Protection Legislation. This is in addition to, and does not relieve, remove or replace, a party’s obligations under</p>
    <p class="text"><b>the Data Protection Legislation.</b></p>
    <p class="text">7.2 The parties acknowledge that for the purposes of the Data Protection Legislation, the Client is the data controller and the Company is the data processor (where “Data Controller” and “Data Processor” have the meanings as defined in the Data Protection Legislation).</p>
    <p class="text">7.3 The Client will ensure that it has all necessary appropriate consents and notices in place to enable lawful transfer of the personal data to the Company for the duration and purposes of this agreement.</p>
    <p class="text">7.4 The Company shall, in relation to any personal data processed in connection with the performance by the Company of its obligations under this agreement:</p>
    <p class="text">7.4.1 process that personal data only for the purposes of this agreement or on the Client’s written instructions;</p>
    <p class="text">7.4.2 ensure that it has in place appropriate technical and organizational measures, to protect against unauthorized or unlawful processing of personal data and against accidental loss or</p>
    <p class="text">destruction of, or damage to, personal data, appropriate to the harm that might result from the unauthorized or unlawful processing or accidental loss, destruction or damage and the</p>
    <p class="text">nature of the data to be protected, having regard to the state of technological development and the cost of implementing any measures (those measures may include, where</p>
    <p class="text">appropriate, pseudonymizing and encrypting personal data, ensuring confidentiality, integrity and availability of its systems and services, and regularly assessing and evaluating the effectiveness of the technical and organizational measures adopted by it;</p>
    <p class="text">7.4.3 ensure that all personnel who have access to and/or process personal data are obliged to keep the personal data confidential; and</p>
    <p class="text">7.4.4 not transfer any personal data outside of the European Economic Area unless the following conditions are fulfilled:</p><p class="text">7.4.4.1 the Company has provided appropriate safeguards in relation to the transfer;</p>
    <p class="text">7.4.4.2 the data subject has enforceable rights and effective legal remedies;</p>
    <p class="text">7.4.4.3 the Company complies with its obligations under the Data Protection Legislation by providing an adequate level of protection to any personal data that is transferred; and</p>
    <p class="text">7.4.4.4 the Company complies with the Client’s reasonable instructions notified to it in advance with respect to the processing of the Personal Data;</p>
    <p class="text">7.4.5 assist the Client in responding to any request from a data subject and in ensuring compliance with its obligations under the Data Protection Legislation with respect to security, breach notifications, impact assessments and consultations with supervisory authorities or regulators;</p>
    <p class="text">7.4.6 notify the Client without undue delay on becoming aware of a personal data breach;</p>
    <p class="text">7.4.7 at the Client’s written direction, delete or return personal data and copies thereof to the Client on termination of this agreement unless required by applicable law to store the personal data;</p>
    <p class="text">7.4.8 maintain records and information to demonstrate its compliance with these provisions.</p>
    <p><b>8. Fees</b></p>
    <p class="text">8.1 The Company shall charge and the Client shall pay the amounts set out or calculated in accordance with Schedule 1 and/or the relevant Statement of Works.</p>
    <p class="text">8.2 Where the fees are to be calculated on a time and materials basis, the Company may increase those fees on giving not less than one month’s written notice to the Client.</p>
    <p class="text">8.3 Any sums stated in this Agreement (including in the Schedule and in any Statement of Works) are expressed exclusive of VAT and all other taxes which, where applicable, will be added and payable by the Client in addition.</p>
    <p class="text">8.4 The Client shall in addition reimburse the Company for expenses including those that are specified in Schedule 1 or the relevant Statement of Works provided they are reasonable and properly incurred.</p>
    <p><b>9. Payment</b></p>
    <p class="text">9.1 The Company shall invoice the Client on the basis set out in the Schedule or in the relevant Statement of Works or, if payment details are not set out, monthly in arrears.</p>
    <p class="text">9.2 The Client shall pay all valid and properly submitted invoices not later than 30 days after they are received or at such other times as may be specified in the Schedule or the relevant Statement of Works.</p>
    <p class="text">9.3 If the Client does not pay any invoice by the due date for payment the Company may, without prejudice to any other rights and remedies that it may have:</p>
    <p class="text">9.3.1 suspend provision of the Services until payment in full including any interest is received; and/or</p>
    <p class="text">9.3.2 charge interest on the sum outstanding at the rate set by the Late Payment of Commercial Debts</p>
    <p class="text">9.4 The Client shall pay all invoices in full without any set-off or deduction.</p>
    <p><b>10. Duration</b></p>
    <p class="text">This Agreement shall commence on the date stated at the beginning and shall continue in force, subject to early termination in accordance with the next following clause, until terminated by either party giving to the other not less than two months’ notice, such notice to expire at any time.</p>
    <p><b> Termination</b></p>
    <p class="text">Either party may terminate this Agreement forthwith on notice to the other party if that other party:</p>
    <p class="text">11.1 is in material breach of any of the terms of this Agreement and, where the breach is capable of being remedied, fails to remedy the breach within 20 Business Days of service of notice</p>
    <p class="text">specifying the breach and requiring it to be remedied;</p>
    <p class="text">11.2 has a petition granted for its winding up or has a liquidator, administrator, receiver or administrator appointed in respect of it, enters into an arrangement with its creditors or ceases, or threatens to cease, trading.</p>
    <p><b>12. Consequences Of Termination</b></p>
    <p class="text">12.1 Termination under clause 11 or clause 12 may be in respect of any individual Statement of Works or in respect of this Agreement including all Statements of Works.</p>
    <p class="text">12.2 On termination of this Agreement for any reason and at the end of the provision of the Services, the Company shall return all property, equipment, documentation and other things provided to it by the Client in connection with the provision of the Services.</p>
    <p class="text">12.3 Termination of this Agreement or any Statement of Works shall not affect any right or remedy which has accrued due at the time of termination.</p>
    <p><b>13. Liability</b></p>
    <p class="text">13.1 Nothing in this Agreement shall limit or exclude the liability of either party for death or personal injury caused by the negligence of that party, its employees, agents or sub-contractors, or for fraud.</p>
    <p class="text">13.2 Subject to clause 14.1, the Company shall have no liability to the Client in connection with this Agreement for any loss of profits, loss of revenue, loss of business, loss of contract, loss of goodwill, loss of data or failure to make anticipated savings or any indirect or consequential loss, whether this results from breach of contract, negligence or otherwise.</p>
    <p class="text">13.3 Subject to clauses 14.1 and 14.2 the maximum aggregate liability of the Company to the Client under or in connection with this Agreement and whether resulting from breach of contract, negligence or otherwise shall not exceed the amount payable by the Client under this Agreement in respect of the 12 months fees or $1,000,000, whichever is the lower, prior to the date on which such liability arises.</p>
    <p><b>14. Force Majeure</b></p>
    <p class="text">14.1 Neither party shall have any liability for any failure to perform or delay in performing any of its obligations under this Agreement if and to the extent that such failure or delay is caused by reasons, circumstances or events beyond the reasonable control of that party.</p>
    <p class="text">14.2 If a party is affected by any circumstance or event of the type described in clause 15.1, that party shall notify the other party as soon as reasonably practicable and the parties shall each</p>
    <p class="text">use all reasonable endeavors to minimize the impact on the obligations that are affected.</p>
    <p><b>15. Personal Agreement</b></p>
    <p class="text">15.1 This Agreement is personal to the Company and the Client and neither of them shall assign any of their rights under this Agreement without the prior written consent of the other.</p>
    <p class="text">15.2 The Company may sub-contract part or parts of its obligations under this Agreement but shall remain liable for the performance of those parts that have been sub-contracted.</p>
    <p class="text">15.3 The parties do not intend any person who is not a party to this Agreement to have any rights under it whether under the Contracts (Rights of Third Parties)</p>
    <p><b>16. Entire Agreement</b></p>
    <p class="text">This Agreement (together with any Statements of Works) constitutes the complete and exclusive agreement between the parties in respect of the subject matter to which it relates and supersedes all prior correspondence, agreements and understandings.</p>
    <p><b>17. Status</b></p>
    <p class="text">17.1 The Company and the Client are each independent contractors and nothing contained in this Agreement shall or shall be capable of creating or constituting between them any partnership or joint venture or any relationship of employment or agency.</p>
    <p class="text">17.2 The Company shall have no authority to incur any liability or expense on behalf of the Client or to make any promise, representation or commitment that might be binding on the Client without the prior written consent of the Client.</p>
    <p><b>18. Notices</b></p>
    <p class="text">18.1 Any notices that are required under this Agreement shall be in writing and shall be served on the relevant party at its registered office address.</p>
    <p class="text">18.2 Notices may be served by:</p>
    <p class="text">18.2.1 personal delivery, in which case they shall be deemed to be served when delivered; or</p>
    <p class="text">18.2.2 first class pre-paid post, in which case they shall be deemed to be served on the second Business Day after the day of posting.</p>
    <p><b>19. Resolution Of Disputes</b></p>
    <p class="text">If any differences or disputes arise between the Company and the Client in connection with this Agreement, they shall use all reasonable endeavors to resolve them by discussions between themselves, escalating the issues through their respective management structures up to their chief executive officers if necessary.</p>
    <p><b>20. Changes, Variations And Waiver</b></p>
    <p class="text">20.1 If either party wishes to propose a change to the Services or any other provision of this Agreement, that party shall inform the other party of the proposed change and the parties shall work together to determine whether they are willing and able to agree the terms that are necessary to implement the change.</p>
    <p class="text">20.2 This Agreement may only be varied or any right under this Agreement waived by a written document signed by authorized representatives of both parties.</p>
    <p class="text">20.3 If a party does not on any occasion insist on the strict observance or performance of any rights under or of any provision of this Agreement, that will not amount to a waiver of those rights or that provision.</p>
    <p><b>21. Severability</b></p>
    <p class="text">21.1 If any provision or part-provision of this Agreement is or becomes invalid, illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and enforceable.</p>
    <p class="text">21.2 If such modification is not possible, the relevant provision or part-provision shall be deemed deleted.</p>
    <p class="text">21.3 Any modification to or deletion of a provision or part-provision under this clause shall not affect the validity and enforceability of the rest of this Agreement.</p>
    <p><b>22. Law And Jurisdiction</b></p>
    <p class="text">This Agreement and everything arising in connection with it, including non-contractual matters, shall be governed by United States Law and the parties submit to the exclusive jurisdiction of the courts of state of California USA.</p>
</div>

</section>

</main>

{% endblock %}