{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <span style="color: #000">WORK VISA</span><br><br>
          <img style="width: 35%" src="/static/assets/img/20210109_174758_0001.png" alt="">

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
          </div>
          <br>

          <div class="section-title-details">
            <h4>The Guide to Visa Types and Work Permit Requirements </h4>

          <i>  There are many visa types that will allow you to start a new life in  New Zealand. Most highly skilled expats choose to  relocate for work because New Zealand is actively looking  for new talent from abroad. However, New Zealand only  approves a handful of visas per country and the timeframe
for visa applications is very tight.
<p>The visa that applies to  you will depend on how long you wish to stay in the  country and what type of job offer you have. This guide  covers all the steps to obtain residence permits, both  temporary and permanent, work visas, skilled worker’s  visa, and visas for self-employment.
While you may read that there are over 80 types of visas to work in New  Zealand alone, most of those are country-specific. </p>
<p>This means the  amount and type of visas approved as well as the requirements vary  depending on the country of origin. In this section you will find only the  most relevant aspects of applying for a New Zealand visa, so you can  start the process immediately.
You should know that some visas will cost more than others, the  Entrepreneur work visa being especially costly. Most
applications also require you to pay an immigration fee.</p>
<p>The majority of New Zealand visas follow the same process of applying  online, and some requirements are the same for all visa types. Just keep in  mind that some visas can have a very short application timeframe,  and once open, vacancies tend to be filled within the first few days. Some  visas in New Zealand are also subject to an immigration point  system called “Point Scale.”
</p>    </i>  </div>
<br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Work Visa Requirements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Cost</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>WORK VISA REQUIREMENTS</h3>
                    <p>Different work visa types may have different eligibility requirements,  application forms, costs, or processes. In general, to apply for a work  visa in New Zealand you need:
</p>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Proof of identity (passport or certificate of identity and  two acceptable visa photographs);</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Proof of good health (completed health questionnaire and chest x ray and a medical examination after arrival); </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Proof of good character (completed character questionnaire, Police  Certificates from your country of origin and any country where  you’ve lived at least five years since turning 17);</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>  Proof of being bona fide.  </li>
                    </ul>
                    <p>Every document you provide needs to be the original document or a  certified copy.
When applying for a visa, you will typically find a guide on the official  website that corresponds to each visa type. You are advised to read  through this document beforehand to make sure you are on top of every  requirement. Then, you want to have each document with you and ready  for submission before beginning your application process.</p>
                    <p>If your visa is subject to a points scale, you can typically find a simulation  on the immigration website that allows you to test if you meet the  required points to apply. Keep in mind that only an immigration officer  can award you points during the assessment of your visa.</p>
                    </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-10 details order-2 order-lg-1">
                  <h3>COST FOR WORK VISA</h3>

                  <!-- <p>The Skillselect is designed to assess the skills of applicants under a point-based system so that immigrants with the right skills can be selected. <br></p> -->
                    <p>Typically, there are two types of costs associated with work visas:
                      <ul class="">
                        <li class="font-italic"> <i class="icofont-check-circled"></i>a visa fee</li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> and an immigration levy</li>
                      </ul> However, some countries  have higher fees than others, and some may have a <b>fee-waiver</b> agreement with New Zealand, so always check your specific  requirements. The visa can be paid online through a <b>Credit Card  (Visa or MasterCard)</b>.
                    </p>
                    <p>The visa fee will be different if you are coming from one of the  Pacific Countries. No matter which visa type you apply for, the  immigration levy equates to <b> 55 NZD (37 USD)</b>. </p>
                    <p>Work Visa Type Visa Fee NZD Visa Fee USD Partnership/Work to Residence Work Visa 580 390 Entrepreneur Work Visa 3,310 2,230 Working Holiday Visa 190 130 Working Holidaymaker Extension Visa 190 130 Other Work Visas 440 300
</p>
                </div>
            </div>
          </div>


<!-- some error -->

    </div>

  </div>
</section>
</section>


  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
          <span style="color: black">TYPES OF TEMPORARY WORK VISA</span>
      </div><br>
      <!-- <p class="text-center">2 Year Diploma Program For International Students</p> -->
      <h5 style="text-align: center";>It is important to know that all work visas in New Zealand are temporary,  even the specific visas that can lead to a permanent residence which are  covered further in this guide. When talking about a temporary work visa  in New Zealand that means these types of visas are not geared towards  getting permanent residence.</h5>
          <br><br><br>


      <div class="row">

        <div class="col-lg-6 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>WORKING HOLIDAY VISA</h2>
            <p>Has a duration of <b>one or two</b> years</p>
            <br>
            <a href="{% url 'holidayvisa' %}" style="color: #8ab6ff;">Learn More</a>
            <br><br>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>ESSENTIAL SKILLS WORK VISA</h2>
            <p>Which allows you to stay between <b>1 and 5 years</b> depending on your level of skill and the duration of the  employment contract</p>

            <a href="{% url 'ess_skill_visa' %}" style="color: #8ab6ff;">Learn More</a>

            <br><br>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>


        <!-- <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #23347c" class="fas fa-clipboard-check fa-5x"></i><br><br>
            <h2>ELIGIBLE FOR</h2>

            <ul>
              <li>•	be enrolled in a course of study in Australia</li>
              <li>•	hold Overseas Student Health Cover (OSHC), or fall in one of the exemption categories</li>
              <li>•	must be 6 years or older </li>
              <li>•prove you have a welfare arrangement, if you are under 18</li>


            </ul> -->
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          <!-- </div>
        </div> -->

      </div>
      <br><br>




</section>

</main>
{% endblock %}
